node_modules/
dist/
*.log
.DS_Store
.vscode/
.idea/
*.zip
cloudflared.log
build/
release/
PDF/
SR-Monitor-GitHub/
*.mp4
*.png
*.jpg
*.db
backend/venv/
backend/saved_pdfs/
desktop_app/venv/
desktop_app/dist/
desktop_app/__pycache__/
desktop_app/package/
node_backend/.pkg-cache/
node_backend/assets/
node_backend/release/
node_backend/vendor/